<div class="columns">
  <div class="column">
    <%= render "form.html",
      changeset: @changeset,
      labels: @labels,
      action: post_path(@conn, :create)
    %>
  </div>
  <div class="column is-3">
    <%= link to: page_path(@conn, :index), class: "button is-link" do %>
      <span class="icon is-small"><i class="fa fa-arrow-left"></i></span>
      <span>返回</span>
    <%= end %>
  </div>
</div>
