<h2>Show post</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>

  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @post.user_id %>
  </li>

</ul>

<ul>
  <li><%= link "返回", to: post_path(@conn, :index) %></li>
  <li><%= link "编辑", to: post_path(@conn, :edit, @post) %></li>
  <li><%= link "评论", to: post_comment_path(@conn, :new, @post) %></li>
</ul>
