<div class="panel">
  <div class="panel-heading">
    个人设置
  </div>
  <div class="panel-block">
    <aside class="menu">
      <ul class="menu-list">
        <%= for {href, id, caption} <- subnavs(@conn) do %>
        <li>
          <%= link caption, to: href, class: if @current_page == id, do: "is-active" %>
        </li>
        <%= end %>
      </ul>
    </aside>
  </div>
</div>
