<div class="panel">
  <%= render "tabs.html",
    current_page: :user_posts,
    conn: @conn,
    user: @user
  %>

  <div class="user-content">
    <%= render PhoenixChina.PostView, "entries.html", conn: @conn, page: @page %>
    <%= render PhoenixChina.PostView, "entries_page.html", conn: @conn, page: @page %>
  </div>
</div>
