<div class="panel">
  <%= render "tabs.html",
    current_page: :user_posts,
    conn: @conn,
    user: @user
  %>

  <div class="user-content">
    <%= render PhoenixChina.PostView, "entries.html", conn: @conn, page: @page %>
    <%= pagination_links @conn, @page,
      action: :show,
      path: fn(conn, action, args) -> user_path(conn, action, @user.nickname, args) end
    %>
  </div>
</div>
