<ul class="nav nav-tabs" style="margin-top: 20px;">
  <li role="presentation"<%= if @current_page == :user_posts do %> class="active"<%= end %>>
    <%= link "帖子", to: user_path(@conn, :show, @user.nickname) %>
  </li>
  <li role="presentation"<%= if @current_page == :user_comments do %> class="active"<%= end %>>
    <%= link "评论", to: user_path(@conn, :comments, @user.nickname) %>
  </li>
  <li role="presentation"><a href="#">收藏</a></li>
</ul>
