<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Phoenix中文社区">
    <meta name="author" content="https://github.com/PhoenixChina/phoenix_china">
    <meta name="baidu-site-verification" content="Q3IId6pqR3" />
    <meta name="google-site-verification" content="dCc5jPBMaQpfr0W6zgkmlrkE1P2uAgk_wxX3PF-cRGM" />
    <title>Phoenix中文社区</title>
    <link rel="shortcut icon" href="https://www.phoenix-china.org/favicon.ico" >
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link "PhoenixChina", to: page_path(@conn, :index), class: "navbar-brand" %>
        </div>

        <div class="collapse navbar-collapse" id="header-nav">
          <ul class="nav navbar-nav">
            <li><%= link "首页", to: page_path(@conn, :index) %></li>
            <li><%= link "聊天室", to: page_path(@conn, :room) %></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <%= if @logged_in do %>
            <li><%= link @current_user.nickname, to: user_path(@conn, :show, @current_user.nickname) %></li>
            <li><%= link "退出登录", to: session_path(@conn, :delete) %></li>
            <%= else %>
            <li><%= link "登录", to: session_path(@conn, :new) %></li>
            <li><%= link "注册", to: user_path(@conn, :new) %></li>
            <%= end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container" style="margin-top: 70px;">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
