<%= @comments |> Stream.with_index |> Enum.each fn (a, b) do -> %>
  <%= a %>
<%= end %>

<%= for comment <- @comments do %>
  <%= render "entry.html",
    conn: @conn,
    comment: comment,
    post: @post ,
    logged_in: @logged_in,
    current_user: @current_user %>
<%= end %>
