<%= form_for @changeset, @action, fn f -> %>
  <%= label f, :content, "回帖", class: "label" %>
  <p class="control">
    <%= textarea f, :content, class: "textarea simditor-textarea" %>
  </p>
  <%= error_tag f, :content %>

  <p class="control">
    <%= submit "确定", class: "button is-info" %>
    <button class="button is-link" type="reset">取消</button>
  </p>
<% end %>
