use Mix.Config

config :phoenix_china,
  mailgun_domain: "https://api.mailgun.net/v3/mg.phoenix-china.org",
  mailgun_key: "key-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

config :qiniu, Qiniu,
  access_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  secret_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  resource: "phoenix-china",
  domain: "https://xxx.xxxxx.com"
