use Mix.Config

config :phoenix_china,
  cookie_sign_salt: "xxxxxxxx"

# In this file, we keep production configuration that
# you likely want to automate and keep it away from
# your version control system.
#
# You should document the content of this
# file or create a script for recreating it, since it's
# kept out of version control and might be hard to recover
# or recreate for your teammates (or you later on).
config :phoenix_china, PhoenixChina.Endpoint,
  secret_key_base: "xxxxxx"

# Configure your database
config :phoenix_china, PhoenixChina.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "postgres",
  password: "postgres",
  database: "phoenix_china_prod",
  pool_size: 20

config :phoenix_china, PhoenixChina.Luosimao,
  site_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  api_key: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

config :ueberauth, Ueberauth.Strategy.Github.OAuth,
  client_id: "xxxxxxxxxxxxx",
  client_secret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
