body {
  background: #fff;
}
.columns {
  margin: -10px 0;
}
div.level-item {
  display: inline-block;
}
.content a,
.content a:not(.button):visited {
  color: #333;
}
.icon.is-danger {
  color: #ff3860;
}
.help-block {
  display: block;
  font-size: 12px;
  color: #ff3860;
}
