body {
  background: #fff;
}
.columns {
  margin: -10px 0;
}
div.level-item {
  display: inline-block;
}
.content a,
.content a:not(.button):visited {
  color: #333;
}
.button.is-link {
  text-decoration: none;
}
.icon.is-danger {
  color: #ff3860;
}
.help-block {
  display: block;
  font-size: 12px;
  color: #ff3860;
}
.pagination .active a,
.pagination .active a:visited {
  color: #666;
  font-weight: bold;
}
.simditor.simditor-markdown .simditor-body {
  background: #fafafa;
}

/* page index style begin */
.post-entry .title {
  margin: 5px 0;
}
.post-entry .title a,
.post-entry .title a:visited {
  color: #666;
}
.post-entry .level,
.post-entry .level a,
.post-entry .level a:visited {
  color: #999;
}
.post-entry .level a:hover {
  text-decoration: underline;
}
/* page index style end */
