<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="box">
      <div style="padding-bottom: 20px;">
        查看您的电子邮件，并点击其中的链接重置您的密码。如果几分钟后仍然没有收到，请检查您的垃圾邮件文件夹。
      </div>
      <p class="control">
        <%= link to: session_path(@conn, :new), class: "button is-fullwidth" do %>
          登录
        <%= end %>
      </p>
    </div>
  </div>
</div>
