<ul class="nav nav-tabs">
  <%= for [href, id, name] <- @navigation do %>
    <%= if Map.get(@conn.params, "label", "全部") == id do %>
    <li class="active">
    <%= else %>
    <li>
    <%= end %>
    <%= link name, to: href %></li>
  <%= end %>
</ul>
