<div class="tabs">
  <ul>
    <%= for {href, id, caption} <- @navigation do %>
      <%= if @conn.assigns[:current_page] && @conn.assigns[:current_page] == id do %>
      <li class="is-active">
      <%= else %>
      <li>
      <%= end %>
        <%= link caption, to: href %>
      </li>
    <%= end %>
  </ul>
</div>